{% load static %}

<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="{% static 'img/logo/HCG.png' %}" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header>
    <!-- Header Start -->
   <div class="header-area">
        <div class="main-header ">
           <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-1 col-lg-1 col-md-1 col-sm-3">
                            <a href="{% url 'home' %}"><h4>HCG</h4></a>
                        </div>
                        <div class="col-xl-6 col-lg-8 col-md-7 col-sm-5">
                            <!-- Main-menu -->
                            <div class="main-menu f-right d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'store' %}">Store</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                        <li><a href="{% url 'follow' %}">Follow Us</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-3 col-md-3 col-sm-3 fix-card">
                            <ul class="header-right f-right d-none d-lg-block d-flex justify-content-between">
                                <li class="d-none d-xl-block">
                                    <div class="form-box f-right ">
                                      <form action="{% url 'search' %}" class="search" method="GET">
                                        <input type="text" placeholder="Search products" name="keyword">
                                        <div class="search-icon">
                                          <button type="submit">
                                            <i class="fas fa-search special-tag"></i>
                                            </button>
                                        </div>
                                        </form>
                                    </div>
                                 </li>
                                <li>
                                    <div class="shopping-card">
                                        <a href="{% url 'cart' %}"><i class="fas fa-shopping-cart"></i>
                                          <span class="badge badge-pill badge-danger notify">{{ cart_count }}</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
           </div>
        </div>
   </div>
    <!-- Header End -->
</header>
