{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'img/category.jpg' %}">
      <div class="container">
          <div class="row">
              <div class="col-xl-12">
                  <div class="hero-cap text-center">
                      <h2>Thank You</h2>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->
<div class="row">
	<aside class="col-lg-12">
<div class="card">
  <div class="card-body">
    <h4 class="card-title text-center mb-4">Thank you for placing the order.<br><br><br> We will contact you soon via Whatsapp!</h4>
		<script>
			setTimeout(function(){
					 window.location.href = "{% url 'home' %}";
				}, 10000);
	</script>

</div> <!-- card.// -->

	</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->


{% endblock %}
